# CUSTOM DOT FILES TO KEEP OFF GIT

configstore
NuGet
thefuck
iterm2
yarn
mume
TabNine
pulse
polychromatic
openrazer
Code
ibus
dconf
evolution
filemanager-actions
google-chrome
gtk-3.0
gnome-initial-setup-done
mimeapps.list
user-dirs.dirs
user-dirs.locale